<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>Informacion sobre los procesos de NODE</h1>


    <div>

    <p>  

    <%= process.pid  %> 
    
    </p>

    <p>
        <%= process.cwd()  %> 
    </p>

    <p>
        <%= process.argv  %>
    </p>

    <p>  <%= process.title  %> </p>

    <p>  <%= process.platform  %> </p>

    <p> <%= JSON.stringify(process.memoryUsage()) %> </p>

    <p> <%= process.version  %> </p>

</div>
</body>

</html>